@CHARSET "UTF-8";
table.fixreport {
	table-layout:fixed;
    word-break:break-all;
    word-wrap:break-word;
}

th.command{
	width: 160px;
}
th.command1{
	width: 60px;
}
th.command2{
	width: 120px;
}
th.command3{
	width: 180px;
}
th.command4{
	width: 240px;
}

th.date  {
	width: 80px;
}

th.timestamp{
	width: 140px;
}

th.timestamp2{
	width: 100px;
}

th.state{
	width: 80px;
}
th.state1{
	width: 30px;
}

th.text10{
	width: 80px;	
}
th.text15{
	width: 120px;	
}
th.text20{
	width: 160px;	
}
th.text30{
	width: 240px;
}
th.text40{
	width: 320px;	
}
th.text50{
	width: 400px;	
}